<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.module.attendance.mapper.OaAttendanceSummaryMapper">
    
    <select id="selectByUserIdAndMonth" resultType="com.oa.module.attendance.entity.OaAttendanceSummary">
        SELECT * FROM OA_ATTENDANCE_SUMMARY 
        WHERE USER_ID = #{userId} AND YEAR_MONTH = #{yearMonth}
    </select>
    
</mapper>
